<h2>Ordem de Serviço</h2> 
<h1 class="display-6"><%= @service_order.code%></h1>

<div>
<dl class="row">
<dt class="col-sm-3"><%=ServiceOrder.human_attribute_name(:pickup_address)%></dt>
<dd class="col-sm-9"><%=@service_order.pickup_address%></dd>

<dt class="col-sm-3"><%=ServiceOrder.human_attribute_name(:product_code)%></dt>
<dd class="col-sm-9"><%=@service_order.product_code%></dd>

<dt class="col-sm-3">Dimensões</dt>
<dd class="col-sm-9"><<%= @service_order.width %>x<%= @service_order.depth %>x<%= @service_order.height %>cm</dd>

<dt class="col-sm-3"><%=ServiceOrder.human_attribute_name(:weight)%></dt>
<dd class="col-sm-9"><%=@service_order.weight%>kg</dd>

<dt class="col-sm-3"><%=ServiceOrder.human_attribute_name(:recipient_name)%></dt>
<dd class="col-sm-9"><%=@service_order.recipient_name%></dd>

<dt class="col-sm-3"><%=ServiceOrder.human_attribute_name(:recipient_address)%></dt>
<dd class="col-sm-9"><%=@service_order.recipient_address%></dd>

<dt class="col-sm-3"><%=ServiceOrder.human_attribute_name(:recipient_phone)%></dt>
<dd class="col-sm-9"><%=@service_order.recipient_phone%></dd>

<dt class="col-sm-3"><%=ServiceOrder.human_attribute_name(:distance)%></dt>
<dd class="col-sm-9"><%=@service_order.distance%>km</dd>

<dt class="col-sm-3"><%=ServiceOrder.human_attribute_name(:status)%></dt>
<dd class="col-sm-9"><%=I18n.t(@service_order.status).upcase%></dd>
</dl>
</div>

<% if @service_order.pending? %>
    <table class="table">
    <thead>
        <tr>
        <th scope="col"><%= ServiceOrder.human_attribute_name(:transportation_modal_id)%></th>
        <th scope="col"><%= ServiceOrder.human_attribute_name(:result)%></th>
        </tr>
    </thead>
    <tbody>
    <% @calculations.each do |calculation|%>
        <tr>
        <th scope="row"><%=calculation.transportation_modal.name%></th>
        <td><%=number_to_currency(calculation.result)%></td>
        </tr>
    <% end %>
    </tbody>
    </table>
<% end %>