<%= render @transportation_modal%>


<p class="h3 mt-4">Configuração de Preços</p>

<% if @transportation_modal.costs.weight.any? %>
<p class="display-6 mt-4"> Peso</p>
    <table class="table m-4">
    <thead>
        <tr>
        <th scope="col"><%= Cost.human_attribute_name(:minimum)%></th>
        <th scope="col"><%= Cost.human_attribute_name(:maximum)%></th>
        <th scope="col">R$/km</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    <% @transportation_modal.costs.weight.order(:minimum).each do |cost|%>
        <tr>
        <td><%=cost.minimum%>kg</td>
        <td><%=cost.maximum%>kg</td>
        <td><%= number_to_currency(cost.unit_price) %></td>
        <%if current_user.admin?%>
            <td><a class="link-secondary" href="/transportation_modals/<%=@transportation_modal[:id]%>/costs/<%=cost.id%>/edit/">Editar</a></td>
        <% end %>
        </tr>
        <% end %>
    </tbody>
    </table>
<% end %>

<% if @transportation_modal.costs.distance.any? %>
<p class="display-6 mt-4"> Distância</p>
    <table class="table m-4">
    <thead>
        <tr>
        <th scope="col"><%= Cost.human_attribute_name(:minimum)%></th>
        <th scope="col"><%= Cost.human_attribute_name(:maximum)%></th>
        <th scope="col">Taxa</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    <% @transportation_modal.costs.distance.order(:minimum).each do |cost|%>
        <tr>
        <td><%=cost.minimum%>km</td>
        <td><%=cost.maximum%>km</td>
        <td><%=number_to_currency(cost.unit_price) %></td>
        <%if current_user.admin?%>
            <td><a class="link-secondary" href="/transportation_modals/<%=@transportation_modal[:id]%>/costs/<%=cost.id%>/edit/">Editar</a></td>
        <% end %>
        </tr>
        <% end %>
    </tbody>
    </table>
<% end %>


<% if @transportation_modal.timescales.any? %>
<p class="h2 mt-4">Configuração de Prazos</p>
    <p class="display-6 mt-4"> Tempo de Entrega</p>
    <table class="table m-4">
    <thead>
        <tr>
        <th scope="col"><%= Timescale.human_attribute_name(:min_distance)%></th>
        <th scope="col"><%= Timescale.human_attribute_name(:max_distance)%></th>
        <th scope="col"><%= Timescale.human_attribute_name(:deadline)%></th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    <% @transportation_modal.timescales.order(:min_distance).each do |time|%>
        <tr>
        <td><%=time.min_distance%>km</td>
        <td><%=time.max_distance%>km</td>
        <td><%=time.deadline%>h</td>
        <%if current_user.admin?%>
            <td><a class="link-secondary" href="/transportation_modals/<%=@transportation_modal[:id]%>/timescales/<%=time.id%>/edit/">Editar</a></td>
        <% end %>
        </tr>
        <% end %>
    </tbody>
    </table>
<% end %>

<% if current_user.admin? %>
    <%= link_to 'Editar Modalidade', edit_transportation_modal_path(@transportation_modal), class:"btn btn-outline-dark btn-sm m-2"%>
    <%= link_to 'Configurar preço', new_transportation_modal_cost_path(@transportation_modal.id), class:"btn btn-outline-dark btn-sm m-2"%>
    <%= link_to 'Configurar prazo', new_transportation_modal_timescale_path(@transportation_modal.id), class:"btn btn-outline-dark btn-sm m-2"%>
    <%= button_to 'Desativar', inactived_transportation_modal_path(@transportation_modal.id), class:"btn btn btn-danger m-2"%>
<% end %>