<h1 class="display-6"><%= @transportation_modal.name%></h1>
<h3><%= I18n.t(@cost.category) if !@cost.category.nil?%></h3>

<%= form_with(model:[@transportation_modal, @cost]) do |f|%>
  <% if @cost.category.nil?%>
    <div class= "mt-4">
        <strong> <%= f.label :category %> </strong>
        <%= f.select :category, options_for_select(Cost.categories.keys.map {|k| [I18n.t(k), k]})%>
    </div>
  <% end %>
  <div class="row mt-4 mb-4">
    <div class="col">
          <%= f.label :minimum %>
          <%= f.number_field :minimum, {class: "form-control"}%>
    </div>
    <div class="col">
          <%= f.label :maximum %>
          <%= f.number_field :maximum, {class: "form-control"}%>
    </div>
      <div class="col">
          <%= f.label :unit_price %>
          <div class="input-group">
          <span class="input-group-text">R$</span>
              <%= f.number_field :unit_price, {class: "form-control"}%>
          </div>
    </div>
  </div>
  <div>
  <%= f.submit 'Cadastrar', {class:"btn btn-secondary m-2"} %>
  </div>
<% end %>
