<h2>Configuração de Prazo</h2>

<h1 class="display-6 mt-4"><%= @transportation_modal.name%></h1>

<%= form_with(model: [@transportation_modal, @timescale]) do |f|%>
  <div class="row mt-4 mb-4">
    <div class="col">
          <%= f.label :min_distance %>
          <div class="input-group">
          <%= f.number_field :min_distance, {class: "form-control"}%>
          <span class="input-group-text">km</span>
          </div>
    </div>
    <div class="col">
          <%= f.label :max_distance %>
          <div class="input-group">
          <%= f.number_field :max_distance, {class: "form-control"}%>
          <span class="input-group-text">km</span>
          </div>
    </div>
      <div class="col">
          <%= f.label :deadline %>
          <div class="input-group">
              <%= f.number_field :deadline, {class: "form-control"}%>
              <span class="input-group-text">horas</span>
          </div>
    </div>
  </div>
  <div>
  <%= f.submit 'Cadastrar', {class:"btn btn-primary"} %>
  </div>
<% end %>
