<form>
<%= form_with model: @service_order do |f|%>
  <div class="row mb-3">
    <%= f.label :product_code, {class: "col-sm-2 col-form-label"}%>
    <div class="col-sm-10">
        <%= f.text_field :product_code, {class: "form-control"}%>
    </div>
  </div>
    <div class="row mb-3">
    <%= f.label :width, {class: "col-sm-2 col-form-label"}%>
    <div class="col-sm-10">
    <div class="input-group">
        <%= f.number_field :width, {class: "form-control"}%>
        <span class="input-group-text">cm</span>
        </div>
    </div>
  </div>
    <div class="row mb-3">
    <%= f.label :depth, {class: "col-sm-2 col-form-label"}%>
    <div class="col-sm-10">
    <div class="input-group">
        <%= f.number_field :depth, {class: "form-control"}%>
        <span class="input-group-text">cm</span>
        </div>
    </div>
  </div>
      <div class="row mb-3">
    <%= f.label :height, {class: "col-sm-2 col-form-label"}%>
    <div class="col-sm-10">
    <div class="input-group">
        <%= f.number_field :height, {class: "form-control"}%>
        <span class="input-group-text">cm</span>
        </div>
    </div>
  </div>
    <div class="row mb-3">
    <%= f.label :weight, {class: "col-sm-2 col-form-label"}%>
    <div class="col-sm-10">
    <div class="input-group">
        <%= f.number_field :weight, {class: "form-control"}%>
        <span class="input-group-text">kg</span>
        </div>
    </div>
  </div>
      <div class="row mb-3">
    <%= f.label :pickup_address, {class: "col-sm-2 col-form-label"}%>
    <div class="col-sm-10">
        <%= f.text_field :pickup_address, {class: "form-control"}%>
    </div>
  </div>
    <div class="row mb-3">
    <%= f.label :recipient_name, {class: "col-sm-2 col-form-label"}%>
    <div class="col-sm-10">
        <%= f.text_field :recipient_name, {class: "form-control"}%>
    </div>
  </div>
      <div class="row mb-3">
    <%= f.label :recipient_address, {class: "col-sm-2 col-form-label"}%>
    <div class="col-sm-10">
        <%= f.text_field :recipient_address, {class: "form-control"}%>
    </div>
  </div>
      <div class="row mb-3">
    <%= f.label :recipient_phone, {class: "col-sm-2 col-form-label"}%>
    <div class="col-sm-10">
        <%= f.text_field :recipient_phone, {class: "form-control"}%>
    </div>
  </div>
      <div class="row mb-3">
    <%= f.label :distance, {class: "col-sm-2 col-form-label"}%>
    <div class="col-sm-10">
        <div class="input-group">
        <%= f.number_field :distance, {class: "form-control"}%>
        <span class="input-group-text">km</span>
        </div>
    </div>
  </div>
    

  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
<% end %>