<h2>Veículos</h2>
<div class='mb-2 d-flex justify-content-end'>
<form action="/vehicles/search" method="get" class="row g-3">
<%= form_with(url: search_vehicles_path, method: :get) do |f|  %>
    <div class="col-auto">
    <%= f.text_field :query, {class:"form-control me-2", placeholder:"Placa"} %>
    </div>
    <div class="col-auto">
    <%= f.submit 'Buscar', {class:"btn btn-dark"} %>
    </div>
<% end %>
</form>
</div>

<% if @vehicles.any? %>
    <table class="table">
    <thead>
        <tr>
        <th scope="col"><%= Vehicle.human_attribute_name(:license_plate)%></th>
        <th scope="col"><%= Vehicle.human_attribute_name(:model)%></th>
        <th scope="col"><%= Vehicle.human_attribute_name(:brand)%></th>
        <th scope="col"><%= Vehicle.human_attribute_name(:max_weight)%></th>
        <th scope="col"><%= Vehicle.human_attribute_name(:manufacture_year)%></th>
        <th scope="col"><%= Vehicle.human_attribute_name(:transportation_modal)%></th>
        <th scope="col"><%= Vehicle.human_attribute_name(:status)%></th>
        <%if current_user.admin?%>
            <th scope="col"></th>
        <% end %>
        </tr>
    </thead>
    <tbody>
    <% @vehicles.each do |vehicle|%>
        <tr>
        <th scope="row"><%=vehicle.license_plate%></th>
        <td><%=vehicle.model%></td>
        <td><%=vehicle.brand%></td>
        <td><%=vehicle.max_weight%>kg</td>
        <td><%=vehicle.manufacture_year%></td>
        <td><%=vehicle.transportation_modal.name%></td>
        <td><%=I18n.t(vehicle.status).upcase%></td>
        <%if current_user.admin?%>
            <td><a class="link-secondary" href="/vehicles/<%=vehicle.id%>/edit">Editar</a></td>
        <% end %>
        </tr>
        <% end %>
    </tbody>
    </table>
<% end %>

<% if current_user.admin? %>
    <%= link_to 'Cadastrar', new_vehicle_path, class:"btn btn-secondary m-2"%>
<% end %>

